@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
    font-family: Varela Round, sans-serif;
}

.axisTitleText {
    font-family: Roboto, sans-serif;
}

.popup > * {
    font-family: PT Sans, sans-serif;
}

div {
    text-align: left;
}

#content {
    background-color: white;
    text-align: left;
    display:block;
    padding:30px;
    /*box-shadow: -5px 0px 10px #333, 5px 0px 10px #333;
    border-radius: 10px;*/
}

#visualisation {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

#visdiv, #secondary_vis {
    position:relative;
    display: inline-block;
    width: 850px;
    vertical-align: top;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 5px;
}

#vis_wrap {
    position:relative;
    height:800px;
    width:800px;
    display:inline-block;
}

.vis_button {
    transition: background-color, left, top;
    transition-duration: 0.3s;
    background-color: dodgerblue;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    left: 60px;
    top: 60px;
    display: inline-block;
    position: absolute;
    z-index:50;
    transform: rotate(-45deg);
    padding:20px;
    text-align: center;
    color: White;
    font-weight: Bold;
    cursor: pointer;
    overflow: hidden;
}

#community_count_div {
    background-color: deepskyblue;
    width: auto;
    height: auto;
    left: auto;
    right: 710px;
    top: 140px;
    z-index:40;
    transform: rotate(0deg);
    padding:0px;
    cursor: default;
    overflow: hidden;
}

#isolated_count_div {
    background-color: darkorchid;
    width: auto;
    height: auto;
    left: auto;
    right: 715px;
    top: 620px;
    z-index:40;
    transform: rotate(0deg);
    padding:0px;
    cursor: default;
    overflow: hidden;
}

#community_text_div {
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    color: white;
    background-color: deepskyblue;
    left: 400px;
    top: 75px;
    z-index:60;
    transform: rotate(0deg);
    padding:15px;
    cursor: default;
    transition: left 0.5s;
    overflow: hidden;
}

#isolated_text_div {
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    color: white;
    background-color: darkorchid;
    width: 120px;
    height: auto;
    left: 400px;
    top: 675px;
    z-index:50;
    transform: rotate(0deg);
    padding:15px;
    cursor: default;
    transition: left 0.5s;
    overflow: hidden;
}

#isolated_count_div:hover ~ #isolated_text_div {
    left: 0px;
    transition: left 0.5s;
}

#community_count_div:hover ~ #community_text_div {
    left: 0px;
    transition: left 0.5s;
}


#toggle_communities_div.off ~ #community_count_div {
    display: none;

}

#toggle_communities_div.off {
    background-color: grey;
}

#reset_zoom_div {
    transition: background-color, right, top;
    transition-duration: 0.3s;
    background-color: seagreen;
    left: auto;
    right: 55px;
    top: 55px;
    width: 150px;
    height: 150px;
    padding:20px;
    transform: rotate(45deg);
}

#reheat_div {
    background-color: orangered;
    transition: background-color, right, bottom;
    transition-duration: 0.3s;
    top: auto;
    left:auto;
    right: 0px;
    bottom: 150px;
    width: 90px;
    height: 90px;
    transform: rotate(-61deg);
}

.vis_button > span {
    display: inline-block;
    transition: margin-top;
    transition-duration: 0.3s;
    margin-top: 0px;
    font-weight: bold;
}

.vis_button:hover > span{
    transition: margin-top;
    transition-duration: 0.3s;
    margin-top:10px;
}

#community_count_div > span {
    padding-right: 30px;
    padding-left: 10px;
    margin-top: 0px;
    padding-top:35%;
    padding-bottom:35%;
}

#isolated_count_div > span {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0px;
    padding-top:35%;
    padding-bottom:35%;
}

#reheat_div > span {
    transition: margin-top;
    transition-duration: 0.3s;
    margin-top: 75px;
}

#reheat_div:hover > span {
    transition: margin-top;
    transition-duration: 0.3s;
    margin-top: 65px;
}

#toggle_communities_div:hover {
    transition: background-color, left, top;
    transition-duration: 0.3s;
    background-color: grey;
    left: 50px;
    top: 50px;

}

#toggle_communities_div.off:hover {
    transition: background-color, left, top;
    transition-duration: 0.3s;
    background-color: dodgerblue;
}

#reset_zoom_div:hover {
    transition: background-color, right, top;
    transition-duration: 0.3s;
    background-color: lightseagreen;
    right: 45px;
    top: 45px;
}

#reheat_div:hover {
    transition: background-color, right, bottom;
    transition-duration: 0.3s;
    background-color: orange;
    right: -12px;
    bottom: 142px;
}

#vis {
    display: table-header-group; /* WEIRD HACK */
    position:relative;
    z-index:100;
    background-color: white;
}

#svg_wrapper {
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    position:relative;
    z-index:100;
    background-color: white;
    overflow: hidden;
}

.link {
    stroke-width: 1px;
    stroke: grey;

}

.node {
    fill: black;
}

.text_box {
    width: 100%;
}

.statistic_div {
    position: relative;
    border-top: 1px solid black;
    padding: 20px;
    overflow: hidden;
}

.statistic_div:first-child {
    border-top: 0px solid black;
}

.statistic_svg {
    display: inline-block;
}

.statistic_span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.axisTitleText {
    text-anchor: middle;
    font-weight: bold;
}

.xTick {
    visibility: hidden;
}

.xTick:active {
    visibility: visible;
}

.vTimeLine {
    fill: red;
    opacity: 0.5
}

.vTimeLineGhost {
    visibility: visible;
    opacity: 0;
    fill: transparent;
    stroke: black;
    stroke-dasharray: 5;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

rect:hover ~ .vTimeLineGhost, .vTimeLineGhost:hover  {
    opacity: 1;
    transition: opacity 0.5s;
}

.movingTickText{
    opacity: 0;
    transition: opacity 0.5s;
    /*transition-delay: 0.5s;*/
}

.tickText{
    opacity: 1;
    transition: opacity 0.5s;
    /*transition-delay: 0.5s;*/
}

svg *:hover ~ .movingTickText {
    opacity: 1;
    transition: opacity 0.5s;
}

svg *:hover ~ .tickText {
    opacity: 0;
    transition: opacity 0.5s;
}

.movingValueText{
    opacity: 0;
    transition: opacity 0.5s;
    /*transition-delay: 0.5s;*/
}

.valueText{
    opacity: 1;
    transition: opacity 0.5s;
    /*transition-delay: 0.5s;*/
}

svg *:hover ~ .movingValueText {
    opacity: 1;
    transition: opacity 0.5s;
}

svg *:hover ~ .valueText {
    opacity: 0;
    transition: opacity 0.5s;
}

.bar {
  fill: LightGrey;
}


.barText {
    opacity: 0;
    text-anchor: middle;
}

.bar:hover + .barText {
    opacity: 1;
}

#control_board {
    display: inline-block;

}

.popup {
    position: absolute;
    display: inline-block;
    z-index: 101;
    border-radius: 10px;
    background-color: indianred;
    padding: 15px;
    max-width: 300px;
    min-width: 150px;
    Color: white;
}

.popupTitle {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 22px;
    clear: both;
    margin-bottom: 5px;
    /*border: 1px solid black;*/
}

.popupDescription {
    display: inline-block;
    float: left;
    font-size: 18px;
    clear: both;
    /*border: 1px solid black;*/
    margin-bottom: 5px;
}

.popupNext {
    position: relative;
    display: flex;
    float: right;
    font-weight: bold;
    font-size: 22px;
    /*border: 1px solid black;*/
}

.popupPrevious {
    position: relative;
    display: flex;
    float:left;
    font-weight: bold;
    font-size: 22px;
    clear: left;
    /*border: 1px solid black;*/
}

.popupClose {
    position:absolute;
    margin: 3px;
    right: 0px;
    top: 0px;
    font-size: 30px;
    border-radius: 10px;
    /*border: 1px solid black;*/
}

.popupPrevious:hover, .popupNext:hover, .popupClose:hover {
    cursor: pointer;
    color: palegoldenrod;
}


.popup a {
    color: palegoldenrod;
}



@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

@keyframes fill {
    from {fill: inherit;}
    to {fill: #fffa90;}
}

div.highlighted::before {
    content: '';
    pointer-events: none;
    width:200%;
    height:200%;
    left: -50%;
    top: -50%;
    position: absolute;
    background-color: #fffa90;
    opacity: 0.3;
    z-index: 101;
}

div.animated::before {
    opacity: 0;
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

rect.highlighted {
    animation-name: fill;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

#degree_dist_div {
    position: relative;
    overflow: hidden;
}

#tutorial_button_div {
    position: absolute;
    z-index: 2;
    top:20px;
    left: 20px;
}